* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
}
.upper {
	justify-content: center;
	align-items: center;
	align-content: center;
}